
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Completed</title>
</head>
<body>
    <div> 
        <img style="width:100px;height:100px" src="~/Assets/Image/completed.png"/>
        <h3>Hoàn thành</h3>
        <p>Cảm ơn bạn đã đăng ký True Concept</p>
        <p>Quay trở về đăng nhập để trải nghiệm gian hàng của chúng tôi!</p>

        <a href="@Url.Action("BackToLogin","SignUp")">Quay về đăng nhập</a>
    </div>
</body>
</html>
