
<div id="alert-success" class="alert alert-success" style="display: none">
    <strong>Success!</strong> <span id="content__alert-success">Đã hoàn thành tác vụ ♥️...</span>
</div>

<div id="alert-danger" class="alert alert-danger" style="display: none">
    <strong>Error!</strong> <span id="content__alert-danger"> Có lỗi xảy ra ! 😢..</span>
</div>

<div id="alert-warning" class="alert alert-warning" style="display: none">
    <strong>Warning!</strong> <span id="content__alert-warning">Bạn cần lưu ý nhé</span>
</div>

<div id="alert-info" class="alert alert-info" style="display: none">
    <strong>Info!</strong> <span id="content__alert-info">This alert box could indicate a neutral informative change or action.</span>
</div>